@import url('https://fonts.googleapis.com/css?family=Lora:700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.welcome,
.portofolio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.welcome {
    z-index: 1;
    background-color: black;
    background-image: "1.url('https://raw.githubusercontent.com/caphoto78/Proiecte-Link-Academy/master/Proiecte%20LinkAcademy/JAVASCRIPT/exercitii%20curs/Curs16/bottega/img/1.jpg?token=AM5BYS727MTVAGFXJVYGSU26P4ZEK');";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: left 1s ease-in-out;
}

.portofolio {
    z-index: 0;
    background-color: rgb(205, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures {
    width: 80%;
    text-align: center;
}

.portofolio .pictures img {
    width: 200px;
    height: 300px;
}

.title {
    margin-top: 1em;
    font-family: 'Lora', sans-serif;
    color: white;
    font-size: 5em;
}

.enter,
.back {
    margin: .8em;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
    position: relative;
    cursor: pointer;
}

.enter::after,
.back::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: white;
    width: 0;
    transition: width, .3s ease-out;
}

.enter:hover::after,
.back:hover::after {
    width: 100%;
}

@keyframes bounce {
    from {
        top: 0px;
        color: white
    }
    to {
        top: -.7em;
        color: black;
    }
}

.title span {
    position: relative;
}

.title span.bounce {
    animation-name: bounce;
    animation-duration: .5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.slide-out {
    left: 100vw;
}

.slide-in {
    left: 0;
}