a {
    color:lightcoral;
    text-decoration:none;
}
/* a:link {

}
a:visited { 

} */
a:hover {
   text-decoration: underline;
   text-decoration-color: black;
}
::selection{
    background-color: burlywood;
}
::first-line{
    text-transform: uppercase;
}
.magic{
    display: none;
    position: absolute;
    bottom: 1em;
    background-color: cadetblue;
    border-radius: 5px;
}
.dropdown {
    position: absolute;
    padding: 20px;
    background-color: rgb(173, 230, 201);
    border-radius: 5px;
}
.dropdown:hover .magic{
    display: block;
}
.trans {
    background-color: red;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: rotate(30deg); /*scale(0.5, 0.5);*/
    transition: 2s;
}
.transform{
    background-color: rgb(0, 132, 255);
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 30px;
    border-radius: 1em;
    transform: rotate(-30deg);
    transform-origin: top left;
    transition: transform 2s;
    transition-delay: 2s;
}
    /* transition:  transform 1s; background-color 2s ;  putem pune si pe fiecare in parte selectei si cate secunde dorim sa se afiseze*/
    /* devine o animatie daca punem totul asa daca este fara top, aplica transitia la toate proprietatile de mai sus*/
/* hover in momentul in care ajungem cu mouseul pe el */

.trans:hover {
top: 20%;
background: orange;
    /* transition:  transform 1s; background-color 2s ; daca o punem la hover se formeaza inaintea pozitiei statice*/

}