body {
  background-color: tan;
  font-family: sans-serif;
}
h1 {
  color: green;
  font-family: cursive;
  font-size: 35px;
}
h3 {
  color: saddlebrown;
  font-family: fantasy;
}
.tea{
  color: gray
}
.coffe{ color: coral;}
span {
  color: green
}
#special {
  color: brown;
}
blockquote { font-family: fantasy;}